Source: ros-humble-turtlebot4-tutorials
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-turtlebot4-cpp-tutorials, ros-humble-turtlebot4-python-tutorials, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-turtlebot4-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-turtlebot4-cpp-tutorials, ros-humble-turtlebot4-python-tutorials, ros-humble-ros-workspace
Description: Turtlebot4 Tutorials Metapackage
